/**Estilo general para el contenedor closet**/
.closet {
    border: 2px solid rgb(146, 38, 38);
    padding: 15px;
    background-color: cadetblue;
}

/**Estilo para los zapatos dentro del closet**/
.closet__shoes {
    margin-top: 10px;
    background-color: aqua;
    font-weight: bold;
}

/**Estilo adicional para los zapatos: fuente en cursiva**/
.closet__shoes--font {
    font-style: italic;
}

/**Estilo adicional para los zapatos: subrayado**/
.closet__shoes--text {
    text-decoration: underline;
}

/**Estilo adicional para los zapatos: color del texto**/
.closet__shoes--color {
    color: blueviolet;
}